.App {
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.album {
  margin-top: 10px;
  top: 300px;
  position: fixed;
}

.img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.enlarge {
  top: 0px;
  position: fixed;
}

.track {
  position: fixed;
  left: 300px;
  top: 130px;
}
